h1{
    text-align: center;
    margin: 25px 0px 0px 0px;
    position: relative;
    left: -10px;
}
.main{
    display: flex; 
    align-items: center;
    justify-content: center; 
    margin-left: 250px;
}
#sketchArea{
    height: 700px;
    width: 700px;
    display: grid; 
    margin: 25px 50px 0px 0px;
    text-align: center; 
    border: 2px solid black;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
}
.grid-item {
    text-align: center;
    border: 0.1px solid black;
    margin:0 -1px -1px 0; 
}
#controls{
    display: flex;
    flex-direction: column;
    height: 750px;
    margin : 100px 0px 0px 0px;
}
button{
    font-size: 35px;
    text-align: center;
    margin: 10px 0px 10px 0px;
}
@media screen and ( max-height: 700px ),  ( max-width: 1224px )
{
    h1{
        margin: 10px 0px 0px 0px;
        left: 5px;
    }
    #sketchArea{
        height: 300px;
        width: 300px;
        margin: 15px 0px 0px 0px;
        position: relative;
        left: -50px;
    }
    #controls{
        display: flex;
        flex-direction: column;
        height: 350px;
        margin : 15px 0px 0px 0px;
    }
    button{
        font-size: 17px;
        text-align: center;
        margin: 5px 0px 5px 0px;
    }
}